body{
  margin: 0;
  text-align: center;
font-family: 'Merriweather Sans', sans-serif;
}
a{
  color: #66BFBF;
  margin: 10px 20px;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
h1{
 font-family: 'Sacramento', cursive;
 font-size: 5.625rem;
 margin-top: 50px;
 color: #66BFBF
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto 0 auto;
  color: #66BFBF;
  line-height: 60px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
hr{
  border: dotted 6px grey;
  border-bottom: none;
  width:4%;
  margin: 100px auto;

}

.top-container{background-color: powderblue;
padding-top: 50px;
margin-bottom: 50px;

}

.top-cloud{
  position: relative;
  left: 200px;
}
.bottom-cloud{
  position: absolute;

}

.pro{
  font-weight: normal;
}
.skill-row{
  width: 50%;
margin:100px auto 100px auto;
text-align: left;
line-height: 2;
}

.image{
  width:25%;
  float: left;
margin:0 20px 0 0;
}
.image-to{
  width: 25%;
  float:right;
  margin:0 0 0 20px;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 50px;
}
.last{
  color: #EAF6F6;
}
.footer-link{
  color:#11999E;
}
.btn{
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 20px;
   padding: 10px;
   -webkit-box-shadow: 10px 1px 20px 0 #000000;
   -moz-box-shadow: 10px 1px 20px 0 #000000;
   box-shadow: 10px 1px 20px 0 #000000;
   border: solid #1F628D 1px;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px 20px;
}

 .btn:hover {
   border: solid #FFFFFF 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}
